body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin-left: 10px;
   font-family: Helvetica, sans-serif;
   font: size 20px;
   /*text-shadow: 2px 2px rgb(0, 0, 0);*/


  }

  p {
    color: rgb(0, 0, 0);
    margin-left: 10px;
    font: size 8px;
    font-family: Helvetica, sans-serif;

  }
  